<div class="row view">
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 box" style="border: 1px solid white">
          <p id="login-header">Login</p>
          <input class="form-control" type="text" id="text-field" placeholder="username"><br>
          <input class="form-control" type="text" id="text-field" placeholder="password">
          <button id="login" type="button" class="btn btn-outline-primary">Login</button><br><br>

          <button id="signUp" type="button" class="btn btn-outline-info float-right">Sign up</button>

  </div>
</div>