<div class="row view">
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 box">
          <p id="login-header">Login</p>
          <form>
          <input class="form-control" type="text" class="text-field" [(ngModel)]="userName" name="userName" placeholder="username" required><br><br>
          
          <input class="form-control" type="password" class="text-field" (keypress)="onKeyDown($event)" [(ngModel)]="password" name="password" placeholder="password" required>
          <button id="login" type="button" class="btn btn-outline-primary"  (click)="signinFunction()" >Login</button><br><br>
          </form>

          <button id="signUp" type="button" class="btn btn-outline-info float-right" [routerLink]="['/signup']">Sign up</button>

  </div>
</div>