<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">Alumni Dashboard<span class="float-right"><button class="btn btn-outline-primary btn-sm" (click)="logOut()">Logout</button></span></h3>
    
  </div>
</div>
 <div class="row">
  <div class="col-md-8 offset-md-2 border border-primary">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Student Name</th>
          <th scope="col">Meeting Id</th>
          <th scope="col">Date</th>
          <th scope="col">Time Slot</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let meeting of meetings">
          <th>{{meeting.studentName}}</th>
          <td>{{meeting.meetingId}}</td>
          <td>{{meeting.meetingDate}}</td>
          <td>{{meeting.meetingStartTime}} pm - {{meeting.meetingEndTime}} pm </td>
          <td><button  *ngIf="meeting.isAccepted == false" class="btn btn-success btn-sm" (click)="updateMeeting(meeting, 'true')">Accept</button>
              <button  *ngIf="meeting.isAccepted == false" class="btn btn-outline-danger btn-sm" style="margin-left: 3px" (click)="deleteMeeting(meeting)">Reject</button>
              <p *ngIf="meeting.isAccepted == true" style="color:green">Accepted</p>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
 </div>
