
div.row{
    color: white;
    background: url(./../../assets/black.png);
    background-attachment: fixed;
    background-size: cover;
   
    
}
div.box {
    height: 100vh;
   
}
input{
    color: black !important;
}
