
  <div class="col-md-12 border">
    <ng-template #modalContent let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">Meeting Details</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div>
          Action:
          <pre>{{ modalData?.action }}</pre>
        </div> 
        <div>
          Event:
          <pre>{{ modalData?.event | json }}</pre>
        </div> -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Description</th>              
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Meeting ID</th>
              <td>{{modalData?.event.meetingId}}</td>
            </tr>
            <tr>
              <th scope="row">Student Name</th>
              <td>{{modalData?.event.studentName}}</td>
            </tr>
            <tr>
              <th scope="row">Meeting Date</th>
              <td>{{modalData?.event.meetingDate}}</td>
            </tr>
            <tr>
              <th scope="row">Meeting Start Time</th>
              <td>{{modalData?.event.meetingStartTime}} PM</td>
            </tr>
            <tr>
              <th scope="row">Meeting End Time</th>
              <td>{{modalData?.event.meetingEndTime}} PM</td>
            </tr>
            <tr>
              <th scope="row">Status</th>
              <td *ngIf="modalData?.event.isAccepted == true " style="color:green">Accepted</td>
              <td *ngIf="modalData?.event.isAccepted == false " style="color:red">Pending</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
          OK
        </button>
      </div>
    </ng-template>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h3>
    </div>
   <div class="col-md-4">
     <!--  <div class="btn-group">
        <div class="btn btn-primary" (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">
          Month
        </div>
        <div class="btn btn-primary" (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">
          Week
        </div>
        <div class="btn btn-primary" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
          Day
        </div>
      </div> -->
      <button class="btn btn-primary" (click)="logOut()">Logout</button>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view" style="border:1px solid blue">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"  (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
   

  </div>



<div class="fixed-bottom">
  <div style="float: right;">
    <button type="button" class="btn btn-danger btn-circle btn-lg" (click)="createMeeting()">
      <i><img src="./../../../assets/plus.ico" alt="" srcset="" height="20" width="20" /></i>
    </button>
  </div>
</div>


<ng-template #createNewMeeting let-close="close">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book Meeting</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="studentName">Student Name </label>
          <input type="text" class="form-control" placeholder= "{{userInfo.firstName}}" readonly>
       <br>
       <label for="meetingDate">Meeting Date</label>
        <input type="date" class="form-control" [(ngModel)]="meetingDate">
        <div class="alert alert-danger" *ngIf="vaidateCurrentDate()">
          **How can you book meeting on a back date.
        </div>
        <div class="alert alert-danger" *ngIf="meetingDate && validBookingDate()">
          **You can book meeting slot only 7 days before.
        </div><br>
        <label for="timeSlot">Time Slot</label>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">start time</th>
                  <th scope="col">end time</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>1 pm</td>
                  <td>2 pm</td>
                  <td><button type="button" class="btn btn-outline-success" (click)="setMeetingTime(1,2)">Book</button></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>4 pm</td>
                  <td>5 pm</td>
                  <td><button type="button" class="btn btn-outline-success" (click)="setMeetingTime(4,5)">Book</button></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>6 pm</td>
                  <td>7 pm</td>
                  <td><button type="button" class="btn btn-outline-success" (click)="setMeetingTime(6,7)">Book</button></td>
                </tr>
              </tbody>
            </table>
            <p *ngIf="meetingStartTime && meetingEndTime">Your selected slot : <b>start time:</b> {{meetingStartTime}}pm,   <b>end time:</b> {{meetingEndTime}}pm</p>
          </div>
        </div>
      </div>
      

      <div class="modal-footer">
        <button type="button" [disabled]= "isDisabled" class="btn btn-primary" (click)="addNewMeeting();close()">Add Meeting</button>
      </div>
    </div>
 
</ng-template>

